.searchHeaderDiv
{
    background-color: #fff;
    padding: 20px;
}

.result a{
    color: #666;
}

.result a:hover{
    color: #222;
    text-decoration:none;
}

.itemDiv
{
    margin: 5px 0;
}

.card
{
    background: none !important ;
}

.itemDiv:hover
{
    background-color: #fefefe;
}

.categ_select .vs__clear
{
    display: none;
}

.custom-select .vs__dropdown-toggle
{
    border: none;
}

.custom-select
{
    background:#fff !important;
    padding: 2px !important;
}